body {
	/* background-color: lightgreen; */
}
.map {
 
	/* border: 2px solid black; */
}

header {
	height: 50px;
	width: 100%;
	background-color: #3C3142;
}


html {
	height:100%
}

body {
	height:100%;
	margin:0px;
	padding:0px
}

#map {
	height:100%
}

.icon_title {
	margin-top: 40px;
	color: white;
	font-size: 35px;
}
